a {
    text-decoration: none;
    color: #60002A;
    font-weight: bold;

}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.header-container img {
    width: 200px;
}

.header-container ul li {
    margin-right: 50px;
    list-style: none;
}

.home-container .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.home-container h1, .home-container h2{
    color: white;
    margin: 0;
}

.home-container h1{
    font-size: 80px;
}

.home-container h2{
    font-size: 30px;
}

.home-container .banner div{
    padding-left: 50%;
    padding-top: 50%;
    transform: translate(-50%,-50%);

}

.footer-container p{
    color: #60002A;
}

.form-container{
    background-color: #60002A;
    height: 600px;
    padding-top: 10%;
}

.form-container form{
    margin-left: 50%;
    transform: translate(-50%);
    background-color: white;
    border: 1px solid white;
    /*width: 50%;*/
    border-radius: 10px;
    padding: 50px 0px;
}

.input-div{
    margin: 20px 0px;
}

.input-div label{
    color: #60002A;
    font-weight: bold;
}

.input-div input{
    margin-left: 10px;
}

.form-container button{
    background-color: #60002A;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0 3px 0 10px;
}